.layout-wrapper,
.footer {
  height: 100%;
  margin: 0;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: rgb(37, 37, 37);
  text-align: center;
  color: white;
  height: 64px;
  margin-top: auto;
}
